* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: rgb(116, 152, 225);
    display: flex;
    justify-content: center; 
    align-items: center;     
}

.weather {
    width: 380px;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    color: white;
    background: linear-gradient(130deg, rgb(86,86,235), rgb(5,5,199));

    display: flex;          
    flex-direction: column;  
    align-items: center;     
}

.search {
    width: 100%;
    margin-bottom: 20px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    padding: 12px 25px;
    font-size: 18px;
    background-color: rgb(222,237,243);
    color: black;
    border-radius: 30px;
}

.winfo h1 {
    font-size: 70px;
    font-weight: 500;
    margin-top: 10px;
}

.winfo h2 {
    font-size: 30px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: center; 
    gap: 40px;               
    margin-top: 30px;
}

.details .col {
    text-align: center;
}

.humidity, .wind {
    font-size: 27px;
}

.humidity p, .wind p {
    margin: 0;
}
.heading {
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.parent {
  width: 100vw;     
}

